---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.jsx";
import Features from "../components/Features.jsx";
import Team from "../components/Team.jsx";
import Download from "../components/Download.jsx";
import Footer from "../components/Footer.astro";
---

<Layout title="VisionAid - Empowering Vision Through Technology">
  <Header />
  <main>
    <Hero client:load />
    <Features client:load />
    <Team client:load />
    <Download client:load />
  </main>
  <Footer />
</Layout>
